<footer id="footer" class="bg-primary padding-medium">
  <div class="container text-light">
    <div class="row">
  <div class="col-md-4">
    <div class="footer-menu">
      <img src="assets/images/logo.png" class="img-fluid" alt="logo">
      <p class="mt-4">Find and Define Your Perfect Beauty</p>

      <div class="social-links mt-4">
        <ul class="d-flex list-unstyled gap-3">

          <li class="social">
            <a href="#">
              <iconify-icon class="social-icon text-light fs-4 me-4" icon="ri:facebook-fill"></iconify-icon>
            </a>
          </li>

          <li class="social">
            <a href="#">
              <iconify-icon class="social-icon text-light fs-4 me-4" icon="ri:twitter-fill"></iconify-icon>
            </a>
          </li>

          <li class="social">
            <a href="#">
              <iconify-icon class="social-icon text-light fs-4 me-4" icon="ri:pinterest-fill"></iconify-icon>
            </a>
          </li>

          <li class="social">
            <a href="#">
              <iconify-icon class="social-icon text-light fs-4 me-4" icon="ri:instagram-fill"></iconify-icon>
            </a>
          </li>

          <li class="social">
            <a href="#">
              <iconify-icon class="social-icon text-light fs-4 me-4" icon="ri:youtube-fill"></iconify-icon>
            </a>
          </li>

        </ul>
      </div>
    </div>
  </div>

  <div class="col-md-2">
    <div class="footer-menu">
      <h6 class="text-uppercase fw-bold text-light mb-4">Quick Links</h6>
      <ul class="menu-list list-unstyled">

        <li class="menu-item">
          <a href="#" class="footer-link">Home</a>
        </li>

        <li class="menu-item">
          <a href="#" class="footer-link">About Us</a>
        </li>

        <li class="menu-item">
          <a href="#" class="footer-link">Offer</a>
        </li>

        <li class="menu-item">
          <a href="#" class="footer-link">Services</a>
        </li>

        <li class="menu-item">
          <a href="#" class="footer-link">Contact Us</a>
        </li>

      </ul>
    </div>
  </div>

  <div class="col-md-2">
    <div class="footer-menu">
      <h6 class="text-uppercase fw-bold text-light mb-4">About</h6>
      <ul class="menu-list list-unstyled">

        <li class="menu-item">
          <a href="#" class="footer-link">How It Works</a>
        </li>

        <li class="menu-item">
          <a href="#" class="footer-link">Our Packages</a>
        </li>

        <li class="menu-item">
          <a href="#" class="footer-link">Promotions</a>
        </li>

        <li class="menu-item">
          <a href="#" class="footer-link">Refer a Friend</a>
        </li>

      </ul>
    </div>
  </div>

  <div class="col-md-2">
    <div class="footer-menu">
      <h6 class="text-uppercase fw-bold text-light mb-4">Services</h6>
      <ul class="menu-list list-unstyled">

        <li class="menu-item">
          <a href="#" class="footer-link">Payments</a>
        </li>

        <li class="menu-item">
          <a href="#" class="footer-link">Shipping</a>
        </li>

        <li class="menu-item">
          <a href="#" class="footer-link">Product Returns</a>
        </li>

        <li class="menu-item">
          <a href="#" class="footer-link">FAQs</a>
        </li>

        <li class="menu-item">
          <a href="#" class="footer-link">Checkout</a>
        </li>

        <li class="menu-item">
          <a href="#" class="footer-link">Other Issues</a>
        </li>

      </ul>
    </div>
  </div>

  <div class="col-md-2">
    <div class="footer-menu">
      <h6 class="text-uppercase fw-bold text-light mb-4">Help Center</h6>
      <ul class="menu-list list-unstyled">

        <li class="menu-item">
          <a href="#" class="footer-link">Payments</a>
        </li>

        <li class="menu-item">
          <a href="#" class="footer-link">Shipping</a>
        </li>

        <li class="menu-item">
          <a href="#" class="footer-link">Product Returns</a>
        </li>

        <li class="menu-item">
          <a href="#" class="footer-link">FAQs</a>
        </li>

        <li class="menu-item">
          <a href="#" class="footer-link">Checkout</a>
        </li>

        <li class="menu-item">
          <a href="#" class="footer-link">Other Issues</a>
        </li>

      </ul>
    </div>
  </div>

</div>

  </div>
</footer>

<div id="footer-bottom" class="bg-primary">
  <hr class="text-light m-0">

  <div class="container text-light pt-3">
    <div class="row">

  <div class="col-md-6 copyright">
    <p>© 2025 AURA. All rights reserved.</p>
  </div>

  <div class="col-md-6 text-md-end">
    <p>
      HTML Template by:
      <a href="https://templatesjungle.com/" target="_blank" class="text-light text-decoration-underline">
        TemplatesJungle
      </a>
    </p>
  </div>

</div>

  </div>
</div>
