<!-- Banner Section -->
<section id="banner"
  [style.backgroundImage]="'url(' + (product()?.banner || '/assets/images/banner-img2.jpg') + ')'"
  style="background-repeat: no-repeat; background-position: center; background-size: cover;">

  <div class="container padding-medium-2">

    <div class="hero-content text-center">

      <h2 class="display-1 text-uppercase text-light mt-5 mb-0">
        {{ product()?.  name || 'Product' }}
      </h2>

      <nav class="breadcrumb d-flex justify-content-center">

        <a class="breadcrumb-item nav-link" routerLink="/">
          Home
        </a>

        <a class="breadcrumb-item nav-link" routerLink="/shop">
          Shop
        </a>

        <span class="breadcrumb-item active">
          {{ product()?.name }}
        </span>

      </nav>

    </div>

  </div>

</section>


<!-- Selling Product Section -->
<section id="selling-product">
  <div class="container padding-medium">
    <div class="row g-md-5">

      <!-- Product Images -->
      <div class="col-lg-6">
        <div class="row">
          <div class="col-md-12">

            <div class="swiper product-large-slider swiper-fade swiper-initialized swiper-horizontal swiper-watch-progress swiper-backface-hidden">
              <div class="swiper-wrapper">

                <div class="swiper-slide swiper-slide-prev " *ngFor="let img of product()?.product_images">
                  <img [src]="'http://127.0.0.1:8000/storage/' + img.image_url" class="img-fluid">
                </div>

              </div>
            </div>

          </div>
        </div>
      </div>

      <!-- Product Info -->
      <div class="col-lg-6 mt-5 mt-lg-0">
        <div class="product-info">
          <div class="element-header">
          <h2 class="display-6 fw-bold">
            {{ product()?.name || 'Product Name' }}
          </h2>

          <div class="product-price py-3">

            <strong class="text-primary display-6">
              ₹{{ product()?.amount }}
            </strong>

            <del class="ms-2">
              ₹{{ product()?.mrp }}
            </del>

          </div>
        </div>

          <p>
            {{ product()?.short_description || 'No description available.' }}
          </p>

          <div class="meta-product d-flex flex-wrap pt-4">
            <div class="meta-item d-flex align-items-baseline me-3">

              <h6 class="item-title fw-bold no-margin pe-2">
                Category:
              </h6>

              <ul class="select-list list-unstyled d-flex mb-0">
                <li class="select-item">
                  <a>{{ product()?.category?.name }}</a>
                </li>
              </ul>

            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
</section>


<!-- Product Tabs -->
<section class="product-tabs" *ngIf="product()">
  <div class="container padding-medium pt-0">
    <div class="row">
      <div class="offset-md-1 col-md-10 tabs-listing">

        <nav>
          <div class="nav nav-tabs d-flex justify-content-center">

            <button class="nav-link active text-black fw-semibold text-uppercase px-5 py-3 mx-3"
              data-bs-toggle="tab" data-bs-target="#nav-details">
              Details
            </button>

            <button class="nav-link text-black fw-semibold text-uppercase px-5 py-3 mx-3"
              data-bs-toggle="tab" data-bs-target="#nav-how-to-use">
              How To Use
            </button>

            <button class="nav-link text-black fw-semibold text-uppercase px-5 py-3 mx-3"
              data-bs-toggle="tab" data-bs-target="#nav-shipping">
              Shipping & Return
            </button>

          </div>
        </nav>

        <div class="tab-content py-5">

          <div class="tab-pane fade show active" id="nav-details">
            <h5>Product Description</h5>
            <p>{{ product()?.long_description }}</p>
          </div>

          <div class="tab-pane fade" id="nav-how-to-use">
            <h5>Best Ways to Use</h5>
            <p>{{ product()?.how_to_use }}</p>
          </div>

          <div class="tab-pane fade" id="nav-shipping">
            <h5>Shipping & Returns</h5>
            <p>{{ product()?.shipping_return }}</p>
          </div>

        </div>

      </div>
    </div>
  </div>
</section>


