<section id="hero">
  <div class="swiper slideshow">
    <div class="swiper-wrapper">
      <div class="swiper-slide" *ngFor="let slide of sliders"
           [style.backgroundImage]="'url(' + slide.image_url + ')'"
           style="background-repeat: no-repeat; background-position: center; height:950px;">
        <div class="container padding-large">
          <div class="row justify-content-end">
            <div class="col-lg-6" data-aos="fade-up">
              <h2 class="display-1 text-uppercase text-white mt-3">{{ slide.name }}</h2>
              <p class="text-capitalize text-white fs-5 mb-4">{{ slide.description }}</p>
              <a [href]="slide.link" class="btn btn-light">Shop Now</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-pagination swiper-pagination-slideshow"></div>
  </div>
</section>

  <section class="logo-bar">
    <div class="container padding-medium" data-aos="fade-up">
      <div class="row ">
        <div class="logo-content d-flex flex-wrap justify-content-between">
          <a href="#"> <img src="assets/images/logo1.png" alt="logo" class="logo-image img-fluid my-3"> </a>
          <a href="#"> <img src="assets/images/logo2.png" alt="logo" class="logo-image img-fluid my-3"> </a>
          <a href="#"> <img src="assets/images/logo3.png" alt="logo" class="logo-image img-fluid my-3"> </a>
          <a href="#"> <img src="assets/images/logo4.png" alt="logo" class="logo-image img-fluid my-3"> </a>
          <a href="#"> <img src="assets/images/logo5.png" alt="logo" class="logo-image img-fluid my-3"> </a>
        </div>
      </div>
    </div>
  </section>

  <section id="category">
    <div class="container-fluid px-3 px-md-5">
      <div class="row">
        <div class="col-md-4 position-relative" data-aos="fade-up" data-aos-delay="300">
          <div class="z-1 position-absolute bottom-0 start-0 m-3 m-lg-5 ps-4 text-white">
            <h3 class="text-light text-uppercase">Skincare Essentials</h3>
          </div>
          <div class="image-holder zoom-effect">
            <a href="single-post.html">
              <img src="assets/images/category1.jpg" alt="Luxury skincare products" class="post-image img-fluid">
            </a>
          </div>
        </div>
        <div class="col-md-4 position-relative" data-aos="fade-up" data-aos-delay="600">
          <div class="z-1 position-absolute bottom-0 start-0 m-3 m-lg-5 ps-4 text-white">
            <h3 class="text-light text-uppercase">Makeup Collection</h3>
          </div>
          <div class="image-holder zoom-effect">
            <a href="single-post.html">
              <img src="assets/images/category3.jpg" alt="Premium makeup products" class="post-image img-fluid">
            </a>
          </div>
        </div>
        <div class="col-md-4 position-relative" data-aos="fade-up" data-aos-delay="900">
          <div class="z-1 position-absolute bottom-0 start-0 m-3 m-lg-5 ps-4 text-white">
            <h3 class="text-light text-uppercase">Fragrance & Scents</h3>
          </div>
          <div class="image-holder zoom-effect">
            <a href="single-post.html">
              <img src="assets/images/category2.jpg" alt="Luxury perfume bottles" class="post-image img-fluid">
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="new-arrival" class="product-store">
    <div class="container padding-medium" data-aos="fade-up">
      <h2 class="display-5 fw-light text-uppercase text-center">New Arrivals</h2>
      <p class="text-center mb-4">Browse our brand new collections</p>
      <div class="row">
        <div class="col-md-6 col-lg-3 my-4">
          <div class="product-item">
            <div class="image-holder" style="width: 100%; height: 100%;">
              <img src="assets/images/product-item15.jpg" alt="Books" class="product-image img-fluid">
            </div>
            <div class="cart-concern">
              <div class="cart-button d-flex justify-content-between align-items-center">
                <a href="#" class="btn-wrap cart-link d-flex align-items-center text-capitalize fs-6 ">add to cart <i
                    class="icon icon-arrow-io pe-1"></i>
                </a>
                <a href="single-product.html" class="view-btn mt-1">
                  <i class="icon icon-screen-full"></i>
                </a>
                <a href="#" class="wishlist-btn mt-1">
                  <i class="icon icon-heart"></i>
                </a>
              </div>
            </div>
            <div class="product-detail d-flex justify-content-between align-items-center mt-2">
              <a href="assets/images/single-product.html">
                <h5 class="product-title mb-0">
                  Product Sample
                </h5>
              </a>
              <p class="m-0 fs-5 fw-normal">$40.00</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 my-4">
          <div class="product-item position-relative">
            <div class="z-1 position-absolute top-0 start-0 rounded-3 m-3 px-3 py-0 fs-6 bg-primary text-white">
              New
            </div>
            <div class="image-holder">
              <img src="assets/images/product-item14.jpg" alt="Books" class="product-image img-fluid">
            </div>
            <div class="cart-concern">
              <div class="cart-button d-flex justify-content-between align-items-center">
                <a href="#" class="btn-wrap cart-link d-flex align-items-center text-capitalize fs-6 ">add to cart <i
                    class="icon icon-arrow-io pe-1"></i>
                </a>
                <a href="single-product.html" class="view-btn mt-1">
                  <i class="icon icon-screen-full"></i>
                </a>
                <a href="#" class="wishlist-btn mt-1">
                  <i class="icon icon-heart"></i>
                </a>
              </div>
            </div>
            <div class="product-detail d-flex justify-content-between align-items-center mt-2">
              <a href="assets/images/single-product.html">
                <h5 class="product-title mb-0"> Product Sample </h5>
              </a>
              <p class="m-0 fs-5 fw-normal">$40.00</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 my-4">
          <div class="product-item">
            <div class="image-holder">
              <img src="assets/images/product-item6.jpg" alt="Books" class="product-image img-fluid">
            </div>
            <div class="cart-concern">
              <div class="cart-button d-flex justify-content-between align-items-center">
                <a href="#" class="btn-wrap cart-link d-flex align-items-center text-capitalize fs-6 ">add to cart <i
                    class="icon icon-arrow-io pe-1"></i>
                </a>
                <a href="assets/images/single-product.html" class="view-btn mt-1">
                  <i class="icon icon-screen-full"></i>
                </a>
                <a href="#" class="wishlist-btn mt-1">
                  <i class="icon icon-heart"></i>
                </a>
              </div>
            </div>
            <div class="product-detail d-flex justify-content-between align-items-center mt-2">
              <a href="single-product.html">
                <h5 class="product-title mb-0"> Product Sample </h5>
              </a>
              <p class="m-0 fs-5 fw-normal">$40.00</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 my-4">

          <div class="product-item position-relative">
            <div class="z-1 position-absolute rounded-3 m-3 px-3 bg-primary text-white">
              Sale
            </div>
            <div class="image-holder">
              <img src="assets/images/product-item13.jpg" alt="Books" class="product-image img-fluid">
            </div>
            <div class="cart-concern">
              <div class="cart-button d-flex justify-content-between align-items-center">
                <a href="#" class="btn-wrap cart-link d-flex align-items-center text-capitalize fs-6 ">add to cart <i
                    class="icon icon-arrow-io pe-1"></i>
                </a>
                <a href="single-product.html" class="view-btn mt-1">
                  <i class="icon icon-screen-full"></i>
                </a>
                <a href="#" class="wishlist-btn mt-1">
                  <i class="icon icon-heart"></i>
                </a>
              </div>
            </div>
            <div class="product-detail d-flex justify-content-between align-items-center mt-2">
              <a href="assets/images/single-product.html">
                <h5 class="product-title mb-0"> Product Sample </h5>
              </a>
              <p class="m-0 fs-5 fw-normal">$40.00</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 my-4">
          <div class="product-item">
            <div class="image-holder">
              <img src="assets/images/product-item1.jpg" alt="Books" class="product-image img-fluid">
            </div>
            <div class="cart-concern">
              <div class="cart-button d-flex justify-content-between align-items-center">
                <a href="#" class="btn-wrap cart-link d-flex align-items-center text-capitalize fs-6 ">add to cart <i
                    class="icon icon-arrow-io pe-1"></i>
                </a>
                <a href="single-product.html" class="view-btn mt-1">
                  <i class="icon icon-screen-full"></i>
                </a>
                <a href="#" class="wishlist-btn mt-1">
                  <i class="icon icon-heart"></i>
                </a>
              </div>
            </div>
            <div class="product-detail d-flex justify-content-between align-items-center mt-2">
              <a href="single-product.html">
                <h5 class="product-title mb-0"> Product Sample </h5>
              </a>
              <p class="m-0 fs-5 fw-normal">$40.00</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 my-4">
          <div class="product-item">
            <div class="image-holder">
              <img src="assets/images/product-item5.jpg" alt="Books" class="product-image img-fluid">
            </div>
            <div class="cart-concern">
              <div class="cart-button d-flex justify-content-between align-items-center">
                <a href="#" class="btn-wrap cart-link d-flex align-items-center text-capitalize fs-6 ">add to cart <i
                    class="icon icon-arrow-io pe-1"></i>
                </a>
                <a href="single-product.html" class="view-btn mt-1">
                  <i class="icon icon-screen-full"></i>
                </a>
                <a href="#" class="wishlist-btn mt-1">
                  <i class="icon icon-heart"></i>
                </a>
              </div>
            </div>
            <div class="product-detail d-flex justify-content-between align-items-center mt-2">
              <a href="single-product.html">
                <h5 class="product-title mb-0"> Product Sample </h5>
              </a>
              <p class="m-0 fs-5 fw-normal">$40.00</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 my-4">
          <div class="product-item position-relative">
            <div class="z-1 position-absolute rounded-3 m-3 px-3 bg-primary text-white">
              Sold
            </div>
            <div class="image-holder">
              <img src="assets/images/product-item12.jpg" alt="Books" class="product-image img-fluid">
            </div>
            <div class="cart-concern">
              <div class="cart-button d-flex justify-content-between align-items-center">
                <a href="#" class="btn-wrap cart-link d-flex align-items-center text-capitalize fs-6 ">add to cart <i
                    class="icon icon-arrow-io pe-1"></i>
                </a>
                <a href="single-product.html" class="view-btn mt-1">
                  <i class="icon icon-screen-full"></i>
                </a>
                <a href="#" class="wishlist-btn mt-1">
                  <i class="icon icon-heart"></i>
                </a>
              </div>
            </div>
            <div class="product-detail d-flex justify-content-between align-items-center mt-2">
              <a href="single-product.html">
                <h5 class="product-title mb-0"> Product Sample </h5>
              </a>
              <p class="m-0 fs-5 fw-normal">$40.00</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 my-4">
          <div class="product-item">
            <div class="image-holder">
              <img src="assets/images/product-item16.jpg" alt="Books" class="product-image img-fluid">
            </div>
            <div class="cart-concern">
              <div class="cart-button d-flex justify-content-between align-items-center">
                <a href="#" class="btn-wrap cart-link d-flex align-items-center text-capitalize fs-6 ">add to cart <i
                    class="icon icon-arrow-io pe-1"></i>
                </a>
                <a href="assets/images/single-product.html" class="view-btn mt-1">
                  <i class="icon icon-screen-full"></i>
                </a>
                <a href="#" class="wishlist-btn mt-1">
                  <i class="icon icon-heart"></i>
                </a>
              </div>
            </div>
            <div class="product-detail d-flex justify-content-between align-items-center mt-2">
              <a href="assets/images/single-product.html">
                <h5 class="product-title mb-0"> Product Sample </h5>
              </a>
              <p class="m-0 fs-5 fw-normal">$40.00</p>
            </div>
          </div>
        </div>
      </div>
      <div class="text-center mt-5 pt-4">
        <button type="submit" class="btn btn-primary">View All Products</button>
      </div>
    </div>
  </section>

  <section id="register"
    style="background-image:url(assets/images/background-img.jpg); background-repeat: no-repeat; background-position: center;">
    <div class="container padding-medium" data-aos="fade-up">
      <div class="row banner-content justify-content-center align-items-center">
        <div class="col-md-6">
          <h2 class="display-2">Get <span> <em>20% OFF</em> </span> on your first purchase</h2>
          <p class="m-0">Sign Up for our newsletter and never miss any offers</p>
        </div>
        <div class="col-md-4">
          <form>
            <div class="mb-3">
              <input type="email" class="form-control form-control-lg rounded-3 text-center bg-light" name="email"
                id="email" placeholder="Enter Your Email Address">
            </div>
            <div class="d-grid gap-2">
              <button type="submit" class="btn btn-primary btn-lg rounded-3">Register now</button>
            </div>
          </form>
        </div>

      </div>
    </div>
  </section>

  <section id="best-seller" class="product-store">
    <div class="container padding-medium" data-aos="fade-up">
      <h2 class="display-5 fw-light text-uppercase text-center">Best Sellers</h2>
      <p class="text-center mb-4">Elevate your daily looks with our best sellers</p>
      <div class="row">
        <div class="col-md-6 col-lg-3 my-4">
          <div class="product-item">
            <div class="image-holder" style="width: 100%; height: 100%;">
              <img src="assets/images/product-item2.jpg" alt="Books" class="product-image img-fluid">
            </div>
            <div class="cart-concern">
              <div class="cart-button d-flex justify-content-between align-items-center">
                <a href="#" class="btn-wrap cart-link d-flex align-items-center text-capitalize fs-6 ">add to cart <i
                    class="icon icon-arrow-io pe-1"></i>
                </a>
                <a href="single-product.html" class="view-btn mt-1">
                  <i class="icon icon-screen-full"></i>
                </a>
                <a href="#" class="wishlist-btn mt-1">
                  <i class="icon icon-heart"></i>
                </a>
              </div>
            </div>
            <div class="product-detail d-flex justify-content-between align-items-center mt-2">
              <a href="single-product.html">
                <h5 class="product-title mb-0"> Product Sample </h5>
              </a>
              <p class="m-0 fs-5 fw-normal">$40.00</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 my-4">

          <div class="product-item position-relative">
            <div class="z-1 position-absolute rounded-3 m-3 px-3 py-0 fs-6 bg-primary text-white">
              New
            </div>
            <div class="image-holder">
              <img src="assets/images/product-item9.jpg" alt="Books" class="product-image img-fluid">
            </div>
            <div class="cart-concern">
              <div class="cart-button d-flex justify-content-between align-items-center">
                <a href="#" class="btn-wrap cart-link d-flex align-items-center text-capitalize fs-6 ">add to cart <i
                    class="icon icon-arrow-io pe-1"></i>
                </a>
                <a href="single-product.html" class="view-btn mt-1">
                  <i class="icon icon-screen-full"></i>
                </a>
                <a href="#" class="wishlist-btn mt-1">
                  <i class="icon icon-heart"></i>
                </a>
              </div>
            </div>
            <div class="product-detail d-flex justify-content-between align-items-center mt-2">
              <a href="single-product.html">
                <h5 class="product-title mb-0"> Product Sample </h5>
              </a>
              <p class="m-0 fs-5 fw-normal">$40.00</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 my-4">
          <div class="product-item">
            <div class="image-holder">
              <img src="assets/images/product-item10.jpg" alt="Books" class="product-image img-fluid">
            </div>
            <div class="cart-concern">
              <div class="cart-button d-flex justify-content-between align-items-center">
                <a href="#" class="btn-wrap cart-link d-flex align-items-center text-capitalize fs-6 ">add to cart <i
                    class="icon icon-arrow-io pe-1"></i>
                </a>
                <a href="single-product.html" class="view-btn mt-1">
                  <i class="icon icon-screen-full"></i>
                </a>
                <a href="#" class="wishlist-btn mt-1">
                  <i class="icon icon-heart"></i>
                </a>
              </div>
            </div>
            <div class="product-detail d-flex justify-content-between align-items-center mt-2">
              <a href="single-product.html">
                <h5 class="product-title mb-0"> Product Sample </h5>
              </a>
              <p class="m-0 fs-5 fw-normal">$40.00</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 my-4">

          <div class="product-item position-relative">
            <div class="z-1 position-absolute rounded-3 m-3 px-3 bg-primary text-white">
              Sale
            </div>
            <div class="image-holder">
              <img src="assets/images/product-item8.jpg" alt="Books" class="product-image img-fluid">
            </div>
            <div class="cart-concern">
              <div class="cart-button d-flex justify-content-between align-items-center">
                <a href="#" class="btn-wrap cart-link d-flex align-items-center text-capitalize fs-6 ">add to cart <i
                    class="icon icon-arrow-io pe-1"></i>
                </a>
                <a href="single-product.html" class="view-btn mt-1">
                  <i class="icon icon-screen-full"></i>
                </a>
                <a href="#" class="wishlist-btn mt-1">
                  <i class="icon icon-heart"></i>
                </a>
              </div>
            </div>
            <div class="product-detail d-flex justify-content-between align-items-center mt-2">
              <a href="single-product.html">
                <h5 class="product-title mb-0"> Product Sample </h5>
              </a>
              <p class="m-0 fs-5 fw-normal">$40.00</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 my-4">
          <div class="product-item">
            <div class="image-holder">
              <img src="assets/images/product-item7.jpg" alt="Books" class="product-image img-fluid">
            </div>
            <div class="cart-concern">
              <div class="cart-button d-flex justify-content-between align-items-center">
                <a href="#" class="btn-wrap cart-link d-flex align-items-center text-capitalize fs-6 ">add to cart <i
                    class="icon icon-arrow-io pe-1"></i>
                </a>
                <a href="single-product.html" class="view-btn mt-1">
                  <i class="icon icon-screen-full"></i>
                </a>
                <a href="#" class="wishlist-btn mt-1">
                  <i class="icon icon-heart"></i>
                </a>
              </div>
            </div>
            <div class="product-detail d-flex justify-content-between align-items-center mt-2">
              <a href="single-product.html">
                <h5 class="product-title mb-0"> Product Sample </h5>
              </a>
              <p class="m-0 fs-5 fw-normal">$40.00</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 my-4">
          <div class="product-item">
            <div class="image-holder">
              <img src="assets/images/product-item4.jpg" alt="Books" class="product-image img-fluid">
            </div>
            <div class="cart-concern">
              <div class="cart-button d-flex justify-content-between align-items-center">
                <a href="#" class="btn-wrap cart-link d-flex align-items-center text-capitalize fs-6 ">add to cart <i
                    class="icon icon-arrow-io pe-1"></i>
                </a>
                <a href="single-product.html" class="view-btn mt-1">
                  <i class="icon icon-screen-full"></i>
                </a>
                <a href="#" class="wishlist-btn mt-1">
                  <i class="icon icon-heart"></i>
                </a>
              </div>
            </div>
            <div class="product-detail d-flex justify-content-between align-items-center mt-2">
              <a href="single-product.html">
                <h5 class="product-title mb-0"> Product Sample </h5>
              </a>
              <p class="m-0 fs-5 fw-normal">$40.00</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 my-4">
          <div class="product-item position-relative">
            <div class="z-1 position-absolute rounded-3 m-3 px-3 bg-primary text-white">
              Sold
            </div>
            <div class="image-holder">
              <img src="assets/images/product-item11.jpg" alt="Books" class="product-image img-fluid">
            </div>
            <div class="cart-concern">
              <div class="cart-button d-flex justify-content-between align-items-center">
                <a href="#" class="btn-wrap cart-link d-flex align-items-center text-capitalize fs-6 ">add to cart <i
                    class="icon icon-arrow-io pe-1"></i>
                </a>
                <a href="single-product.html" class="view-btn mt-1">
                  <i class="icon icon-screen-full"></i>
                </a>
                <a href="#" class="wishlist-btn mt-1">
                  <i class="icon icon-heart"></i>
                </a>
              </div>
            </div>
            <div class="product-detail d-flex justify-content-between align-items-center mt-2">
              <a href="single-product.html">
                <h5 class="product-title mb-0"> Product Sample </h5>
              </a>
              <p class="m-0 fs-5 fw-normal">$40.00</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 my-4">
          <div class="product-item">
            <div class="image-holder">
              <img src="assets/images/product-item3.jpg" alt="Books" class="product-image img-fluid">
            </div>
            <div class="cart-concern">
              <div class="cart-button d-flex justify-content-between align-items-center">
                <a href="#" class="btn-wrap cart-link d-flex align-items-center text-capitalize fs-6 ">add to cart <i
                    class="icon icon-arrow-io pe-1"></i>
                </a>
                <a href="single-product.html" class="view-btn mt-1">
                  <i class="icon icon-screen-full"></i>
                </a>
                <a href="#" class="wishlist-btn mt-1">
                  <i class="icon icon-heart"></i>
                </a>
              </div>
            </div>
            <div class="product-detail d-flex justify-content-between align-items-center mt-2">
              <a href="single-product.html">
                <h5 class="product-title mb-0"> Product Sample </h5>
              </a>
              <p class="m-0 fs-5 fw-normal">$40.00</p>
            </div>
          </div>
        </div>

      </div>
      <div class="text-center mt-5 pt-4">
        <button type="submit" class="btn btn-primary">View All Products</button>
      </div>
    </div>
  </section>

  <section class="testimonials bg-primary padding-medium"
    style="background-image:url(assets/images/background-img1.jpg); background-repeat: no-repeat; background-position: center;">
    <div class="swiper testimonial-swiper overflow-hidden" data-aos="fade-up">
      <div class="swiper-wrapper d-flex">
        <div class="swiper-slide">
          <div class="testimonial-item text-center">
            <blockquote>
              <p>“This skincare serum completely transformed my complexion. My skin has never felt more hydrated and
                radiant!”</p>
              <div class="review-title mt-3 text-uppercase text-center">- Glowing Results</div>
            </blockquote>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="testimonial-item text-center">
            <blockquote>
              <p>“The foundation provides perfect coverage while feeling lightweight. It's become my daily essential.”
              </p>
              <div class="review-title mt-3 text-uppercase text-center">- Sophia</div>
            </blockquote>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="testimonial-item text-center">
            <blockquote>
              <p>“The fragrance lasts all day and I constantly receive compliments. Absolutely worth every penny!”</p>
              <div class="review-title mt-3 text-uppercase text-center">- Signature Scent</div>
            </blockquote>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="testimonial-item text-center">
            <blockquote>
              <p>“These products are cruelty-free and actually deliver visible results. My new beauty ritual!”</p>
              <div class="review-title mt-3 text-uppercase text-center">- Emma</div>
            </blockquote>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="service" class="padding-medium">
    <div class="container" data-aos="fade-up">
      <div class="row">
        <div class="col-md-3 my-3">
          <div class="card">
            <div>
            </div>
            <h4 class=" text-uppercase py-3 m-0">Free Delivery</h4>
              <div class="card-text">
                <p>Lorem ipsum dolor sit amet, consectetur adipi elit.</p>
              </div>
          </div>
        </div>
        <div class="col-md-3 my-3">
          <div class="card">
            <div>
            </div>
            <h4 class=" text-uppercase py-3 m-0">100% secure payment</h4>
              <div class="card-text">
                <p>Lorem ipsum dolor sit amet, consectetur adipi elit.</p>
              </div>
          </div>
        </div>
        <div class="col-md-3 my-3">
          <div class="card">
            <div>
            </div>
            <h4 class=" text-uppercase py-3 m-0">Quality guarantee</h4>
              <div class="card-text">
                <p>Lorem ipsum dolor sit amet, consectetur adipi elit.</p>
              </div>
          </div>
        </div>
        <div class="col-md-3 my-3">
          <div class="card">
            <div>
            </div>
            <h4 class=" text-uppercase py-3 m-0">Daily Offer</h4>
              <div class="card-text">
                <p>Lorem ipsum dolor sit amet, consectetur adipi elit.</p>
              </div>
          </div>
        </div>

      </div>
    </div>
  </section>

  <div id="blog" class="padding-medium pt-0">
    <div class="container" data-aos="fade-up">
      <div class="section-header d-md-flex justify-content-between align-items-center mb-3">
        <h2 class="display-5 fw-light text-uppercase">Recent Blog Post</h2>
        <div>
          <a href="blog.html" class="btn btn-primary">
            Read Blog</a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 my-4" data-aos="fade-up" data-aos-delay="300">
          <div class="card position-relative">
            <div class="z-1 position-absolute m-2 px-3 pt-1">
              <h2 class="text-light display-4 m-0">20<span class="fs-4">MAR</span> </h2>
            </div>
            <a href="single-post.html"><img src="assets/images/blog5.jpg" class="img-fluid" alt="Summer skincare routine"></a>
            <div class="card-body p-0">
              <a href="single-post.html">
                <h3 class="pt-4 pb-3 m-0">10 Essential Summer Skincare Tips</h3>
              </a>
              <div class="card-text">
                <p>Protect your skin from sun damage while maintaining that healthy glow. Discover our
                  expert-recommended summer skincare routine that will keep your complexion radiant all season long.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 my-4" data-aos="fade-up" data-aos-delay="600">
          <div class="card position-relative">
            <div class="z-1 position-absolute m-2 px-3 pt-1">
              <h2 class="text-light display-4 m-0">21<span class="fs-4">MAR</span> </h2>
            </div>
            <a href="single-post.html"><img src="assets/images/blog2.jpg" class="img-fluid"
                alt="Affordable beauty products"></a>
            <div class="card-body p-0">
              <a href="single-post.html">
                <h3 class="pt-4 pb-3 m-0">Luxury Beauty Brands on a Budget</h3>
              </a>
              <div class="card-text">
                <p>You don't need to break the bank for premium beauty results. We've curated the best affordable
                  alternatives to high-end products that deliver exceptional quality without the luxury price tag.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 my-4" data-aos="fade-up" data-aos-delay="900">
          <div class="card position-relative">
            <div class="z-1 position-absolute m-2 px-3 pt-1">
              <h2 class="text-light display-4 m-0">22<span class="fs-4">MAR</span> </h2>
            </div>
            <a href="single-post.html"><img src="assets/images/blog1.jpg" class="img-fluid" alt="Professional makeup tips"></a>
            <div class="card-body p-0">
              <a href="single-post.html">
                <h3 class="pt-4 pb-3 m-0">Pro Makeup Artist Secrets Revealed</h3>
              </a>
              <div class="card-text">
                <p>Learn the techniques that professional makeup artists use to create flawless looks. From foundation
                  application to perfect winged eyeliner, master these skills for everyday glamour.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>