
<section id="banner"
style="background-image: url('assets/images/banner-img2.jpg');
background-repeat: no-repeat;
background-position: center;">    <div class="container padding-medium-2">
      <div class="hero-content text-center">
        <h2 class="display-1 text-uppercase text-light mt-5 mb-0">Contact</h2>

        <nav class="breadcrumb d-flex justify-content-center">
          <a class="breadcrumb-item nav-link" href="#">Home</a>
          <a class="breadcrumb-item nav-link" href="#">Pages</a>
          <span class="breadcrumb-item active" aria-current="page">Contact</span>
        </nav>
      </div>
    </div>
  </section>

  <section class="contact-us">
    <div class="container padding-medium">
      <div class="row">
        <div class="contact-info col-lg-6 pb-5">
          <h2>Contact Information</h2>
          <p>Tortor dignissim convallis aenean et tortor at risus viverra adipiscing.</p>
          <div class="page-content d-flex flex-wrap mt-5">
            <div class="col-lg-6 col-sm-12">
              <div class="content-box pe-4 mb-5">
                <h4 class="card-title">Office</h4>
                <div class="contact-address pt-3">
                  <p>730 Glenstone Ave 65802, Springfield, US</p>
                </div>
                <div class="contact-number">
                  <p>
                    <a href="#">+123 987 321</a>
                  </p>
                  <p>
                    <a href="#">+123 123 654</a>
                  </p>
                </div>
                <div class="email-address">
                  <p>
                    <a href="#">contactoffice@website.com</a>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-sm-12">
              <div class="content-box">
                <h4 class="card-title">Management</h4>
                <div class="contact-address pt-3">
                  <p>730 Glenstone Ave 65802, Springfield, US</p>
                </div>
                <div class="contact-number">
                  <p>
                    <a href="#">+123 987 321</a>
                  </p>
                  <p>
                    <a href="#">+123 123 654</a>
                  </p>
                </div>
                <div class="email-address">
                  <p>
                    <a href="#">contactmanagement@website.com</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="inquiry-item col-lg-6">
          <div class="rounded-5">
            <h2>Get in Touch</h2>
            <p>Use the form below to get in touch with us.</p>
<form #contactForm="ngForm" (ngSubmit)="onSubmit(contactForm)" class="form-group contact-form mt-4">
  <div class="form-input col-lg-12 d-flex justify-content-between mb-3">
    <div class="w-100 me-3">
      <label class="mb-2 fs-6">Your Name*</label>
      <input type="text" name="name" [(ngModel)]="contactData.name" placeholder="Write Your Name Here" class="form-control shadow-none px-3 py-2" required>
    </div>
    <div class="w-100">
      <label class="mb-2 fs-6">Your E-mail*</label>
      <input type="email" name="email" [(ngModel)]="contactData.email" placeholder="Write Your Email Here" class="form-control shadow-none px-3 py-2" required>
    </div>
  </div>

  <div class="col-lg-12 mb-3">
    <label class="mb-2 fs-6">Phone Number</label>
    <input type="text" name="phone" [(ngModel)]="contactData.phone" placeholder="Phone Number" class="form-control shadow-none px-3 py-2">
  </div>

  <div class="col-lg-12 mb-3">
    <label class="mb-2 fs-6">Subject</label>
    <input type="text" name="subject" [(ngModel)]="contactData.subject" placeholder="Write Your Subject Here" class="form-control shadow-none px-3 py-2">
  </div>

  <div class="col-lg-12 mb-3">
    <label class="mb-2 fs-6">Your Message*</label>
    <textarea name="message" [(ngModel)]="contactData.message" placeholder="Write Your Message Here" class="form-control shadow-none px-3 py-2" style="height:150px;" required></textarea>
  </div>

  <div class="d-grid">
    <button type="submit" [disabled]="!contactForm.form.valid" class="btn btn-arrow btn-primary btn-lg btn-dark fs-6">Submit</button>
  </div>
</form>
          </div>
        </div>
      </div>
    </div>
  </section>