 <section id="banner" style="background-image:url(assets/images/banner-img2.jpg); background-repeat: no-repeat; background-position: center;">
    <div class="container padding-medium-2">
      <div class="hero-content text-center">
        <h2 class="display-1 text-uppercase text-light mt-5 mb-0">About Us</h2>

        <nav class="breadcrumb d-flex justify-content-center">
          <a class="breadcrumb-item nav-link" href="#">Home</a>
          <a class="breadcrumb-item nav-link" href="#">Pages</a>
          <span class="breadcrumb-item active" aria-current="page">About Us</span>
        </nav>
      </div>
    </div>
  </section>

  <div class="container padding-medium">
    <div class="row align-items-center g-md-5">
      <div class="col-md-6">
        <img src="assets/images/banner1.jpg" alt="img" class="img-fluid">

      </div>
      <div class="col-md-6 mt-5">
        <h2 class="">How Aura Started </h2>
        <p>In commodo auctor eget congue sit. Ultrices eget pretium sit euismod mi id. Risus, aliquam odio
          posuere ac in in nisl sed augue. Porta aenean egestas malesuada in pulvinar enim viverra. Adipisci aperiam
          tempora sed et dolore dignissimos facere cumque qui
          dicta.</p>

        <p class="m-0"> <span class="text-primary">✓</span> Porta aenean egestas malesuada in pulvinar enim
          viverra.</p>
        <p class="m-0"> <span class="text-primary">✓</span> Porta aenean egestas malesuada in pulvinar enim
          viverra.</p>
        <p class="m-0"> <span class="text-primary">✓</span> Porta aenean egestas malesuada in pulvinar enim
          viverra.</p>

        <a href="#" class="btn btn-primary py-3 px-5 mt-4">
          Read Blog</a>
      </div>
    </div>
  </div>

  <div class="container padding-medium pt-0">
    <div class="row flex-row-reverse align-items-center g-md-5">
      <div class="col-md-6">
        <img src="assets/images/banner3.jpg" alt="img" class="img-fluid">

      </div>
      <div class="col-md-6 mt-5">
        <h2 class="">You can buy best products from Aura. </h2>
        <p>Aliquet nunc vitae interdum mauris pretium lectus mauris viverra ornare quam diam felis. Ultrices
          eget pretium sit euismod mi id risus, aliquam odio posuere ac in in nisl sed augue. Porta aenean
          egestas malesuada in pulvinar enim viverra.</p>
        <p>Ultrices eget pretium sit euismod mi id risus, aliquam odio posuere ac in in nisl sed augue. Porta aenean
          egestas malesuada in pulvinar enim viverra. ipsum dolor sit amet consectetur. Ipsum ipsum ut
          pulvinar ipsum cras metus purus mattis integer. </p>

      </div>
    </div>
  </div>

 

  <section id="service" class="padding-medium">
    <div class="container">
      <div class="row">
        <div class="col-md-3 my-3">
          <div class="card">
            <div>
              <iconify-icon class="service-icon text-primary display-4" icon="ci:shopping-cart-02"></iconify-icon>
            </div>
            <h4 class=" text-uppercase py-3 m-0">Free Delivery</h4>
              <div class="card-text">
                <p>Lorem ipsum dolor sit amet, consectetur adipi elit.</p>
              </div>
          </div>
        </div>
        <div class="col-md-3 my-3">
          <div class="card">
            <div>
              <iconify-icon class="service-icon text-primary display-4" icon="tdesign:secured"></iconify-icon>
            </div>
            <h4 class=" text-uppercase py-3 m-0">100% secure payment</h4>
              <div class="card-text">
                <p>Lorem ipsum dolor sit amet, consectetur adipi elit.</p>
              </div>
          </div>
        </div>
        <div class="col-md-3 my-3">
          <div class="card">
            <div>
              <iconify-icon class="service-icon text-primary display-4" icon="la:award"></iconify-icon>
            </div>
            <h4 class=" text-uppercase py-3 m-0">Quality guarantee</h4>
              <div class="card-text">
                <p>Lorem ipsum dolor sit amet, consectetur adipi elit.</p>
              </div>
          </div>
        </div>
        <div class="col-md-3 my-3">
          <div class="card">
            <div>
              <iconify-icon class="service-icon text-primary display-4" icon="solar:dollar-outline"></iconify-icon>
            </div>
            <h4 class=" text-uppercase py-3 m-0">Daily Offer</h4>
              <div class="card-text">
                <p>Lorem ipsum dolor sit amet, consectetur adipi elit.</p>
              </div>
          </div>
        </div>

      </div>
    </div>
  </section>

  <div id="blog" class="padding-medium pt-0">
    <div class="container">
      <div class="section-header d-md-flex justify-content-between align-items-center mb-3">
        <h2 class="display-5 fw-light text-uppercase">Recent Blog Post</h2>
        <div>
          <a href="blog.html" class="btn btn-primary">
            Read Blog</a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 my-4">
          <div class="z-1 position-absolute m-2 px-3 pt-1">
            <h2 class="text-light display-4 m-0">20<span class="fs-4">MAR</span> </h2>
          </div>
          <div class="card position-relative ">
            <a href="single-post.html"><img src="assets/images/blog5.jpg" class="img-fluid" alt="Summer skincare routine"></a>
            <div class="card-body p-0">
              <a href="single-post.html">
                <h3 class="pt-4 pb-3 m-0">10 Essential Summer Skincare Tips</h3>
              </a>
              <div class="card-text">
                <p>Protect your skin from sun damage while maintaining that healthy glow. Discover our
                  expert-recommended summer skincare routine that will keep your complexion radiant all season long.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 my-4">
          <div class="z-1 position-absolute m-2 px-3 pt-1">
            <h2 class="text-light display-4 m-0">21<span class="fs-4">MAR</span> </h2>
          </div>
          <div class="card position-relative ">
            <a href="single-post.html"><img src="assets/images/blog2.jpg" class="img-fluid" alt="Affordable beauty products"></a>
            <div class="card-body p-0">
              <a href="single-post.html">
                <h3 class="pt-4 pb-3 m-0">Luxury Beauty Brands on a Budget</h3>
              </a>
              <div class="card-text">
                <p>You don't need to break the bank for premium beauty results. We've curated the best affordable
                  alternatives to high-end products that deliver exceptional quality without the luxury price tag.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 my-4">
          <div class="z-1 position-absolute m-2 px-3 pt-1">
            <h2 class="text-light display-4 m-0">22<span class="fs-4">MAR</span> </h2>
          </div>
          <div class="card position-relative">
            <a href="single-post.html"><img src="assets/images/blog1.jpg" class="img-fluid" alt="Professional makeup tips"></a>
            <div class="card-body p-0">
              <a href="single-post.html">
                <h3 class="pt-4 pb-3 m-0">Pro Makeup Artist Secrets Revealed</h3>
              </a>
              <div class="card-text">
                <p>Learn the techniques that professional makeup artists use to create flawless looks. From foundation
                  application to perfect winged eyeliner, master these skills for everyday glamour.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>